@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);

}

@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
    --radius: 0.5rem;
  }
}
